# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\SoftUni\Java DB\SpringData\HibernateCodeFirst\Exercise\06.HibernateCodeFirst - Exercises\01. Gringotts Database\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
